node_modules
dist
.tmp
.sass-cache
bower_components
test/bower_components

styleguide
build

*.DS_Store
uploads
config/application.php
config/database.rb
wordpress/wp-content/*

/environment-config.php
/content/*
/content/plugins/*
/content/mu-plugins/*
/content/themes/*
/content/uploads/*

!/content/index.php
!/content/plugins/
!/content/plugins/index.php
!/content/plugins/wordpress-functionality-plugin-skeleton
!/content/mu-plugins/
!/content/mu-plugins/index.php
!/content/mu-plugins/wordpress-skeleton-functionality.php
!/content/themes/
!/content/themes/index.php
!/content/uploads/
!/content/uploads/index.php